@import "tailwindcss";

.encabezado {
    @apply w-screen text-xl flex justify-between shadow bg-white text-gray-700 relative;
    height: var(--xl);
}

.contenedor {
    @apply flex items-center;
}

.logo {
    @apply mr-2 h-12 w-12;
}

.titulo {
    @apply text-lg font-bold text-gray-900;
    
}

.nav {
    @apply flex items-center;
}

.icono {
    @apply h-6 w-6
}

a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}