@import "tailwindcss";

.encabezado {
    @apply w-screen text-xl flex justify-between shadow bg-white text-gray-700;
    height: 5vh;
}

.contenedor {
    @apply flex items-center pl-4;
}

.logo {
    @apply mr-2 h-25 w-25;
}

.titulo {
    @apply text-lg font-semibold text-gray-900;
}

.vinculo {
    @apply flex items-center px-4 h-12  hover:bg-gray-200;
}

.icono {
    @apply h-6 w-6
}

a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}