@import "tailwindcss";

.app {
  max-width: 100vw;
  max-height: 100vh;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.tarjeta {
  @apply rounded-xl m-4 text-gray-700 text-xs mx-4 overflow-hidden;
  background: #ffffff;
  box-shadow:  13px 13px 26px #b3b3b3,
               -13px -13px 26px #ffffff;
}

.boton {
  @apply flex justify-center items-center text-xs font-bold py-1 px-4 rounded-full h-5;
}

.boton--gris {
  @apply hover:bg-red-600;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  5px 5px 10px #b3b3b3,
             -5px -5px 10px #ffffff;
}

.boton--negro {
  @apply hover:bg-amber-50 text-yellow-50;
  background: #383838;
  box-shadow:  5px 5px 10px #161616,
               -5px -5px 10px #5a5a5a;
}

.boton--rojo {
  @apply hover:bg-red-500 hover:text-yellow-50 border-red-500 text-red-500 ;
  background: #e7e7e7;
  box-shadow:  5px 5px 10px #161616,
               -5px -5px 10px #5a5a5a;
}

.label {
  @apply block uppercase text-xs font-bold mb-6;
}

.input {
  @apply w-full border-0 rounded-xl h-10 p-3;
  box-shadow: inset 5px 5px 10px #666666,
              inset -5px -5px 10px #ffffff;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
