@import "tailwindcss";

.app {
  max-width: 100vw;
  max-height: 100vh;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.tarjeta {
  @apply rounded-xl m-2 text-gray-700 text-xs mx-4;
  background: #ffffff;
  box-shadow:  13px 13px 26px #b3b3b3,
               -13px -13px 26px #ffffff;
}

.boton {
  @apply text-sm font-bold py-1 px-4 rounded-full;
}

.boton--gris {
  @apply hover:bg-gray-200;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  7px 7px 13px #666666,
              -7px -7px 13px #ffffff;


}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
